@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-shadow-blue-light {
		text-shadow: -3px 2px 7px rgb(0 44 63 / 60%);
	}

	.text-shadow-white {
		text-shadow: -3px 2px 7px rgb(255 255 255 / 60%);
	}

	.text-shadow-none {
		text-shadow: none;
	}

	.bg-gradient-blue {
		background: rgb(34 211 238 / 100%);
		color: #012a4a;
	}
}

html {
	height: 100%;
}
body {
	height: auto;
	padding: 0;
	margin: 0;
	font-family: 'Kanit', sans-serif, Ubuntu;
	line-height: 1.6;
	font-size: 24px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: rgb(19, 28, 33);
	background-image: linear-gradient(
		180deg,
		hsl(201deg 27% 10%) 40%,
		hsl(202deg 42% 11%) 75%,
		hsl(203deg 57% 11%) 86%,
		hsl(203deg 73% 12%) 92%,
		hsl(204deg 86% 13%) 96%,
		hsl(205deg 95% 13%) 98%,
		hsl(206deg 97% 15%) 99%,
		hsl(203deg 100% 17%) 100%,
		hsl(200deg 100% 19%) 101%,
		hsl(198deg 100% 21%) 101%,
		hsl(196deg 100% 23%) 101%,
		hsl(193deg 100% 24%) 100%,
		hsl(191deg 100% 26%) 100%
	);
}

* {
	box-sizing: border-box;
}

.home-button {
	font-family: Audiowide;
	font-size: 36px;
	font-weight: 400;
	line-height: 46px;
	letter-spacing: -0.1em;
	text-align: center;
	text-shadow: -2px 2px 4px rgb(224, 117, 0, 1);
}
